<% if @user.admin == true %>
  <%= "ADMIN" %>
<% end %>
<label>Name:</label> <%= @user.name %>
<br>
<label>Tickets: </label> <%= @user.tickets %>
<br>
<label>Mood: </label> <%= @user.mood %>
<br>
<label>Height: </label> <%= @user.height %>
<br>
<%= link_to "Log Out", session_path, method: :delete %>

